<?xml version="1.0" encoding="UTF-8"?>
<!--
   Licensed to the Apache Software Foundation (ASF) under one or more
   contributor license agreements.  See the NOTICE file distributed with
   this work for additional information regarding copyright ownership.
   The ASF licenses this file to You under the Apache License, Version 2.0
   (the "License"); you may not use this file except in compliance with
   the License.  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
  -->
  
<web-app id="web-app_1" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
   <display-name>jcr-jackrabbit-demo</display-name>

    <!-- ====================================================================== -->
    <!--    J A C K R A B B I T		R E P O S I T O R Y		S E R V L E T       -->
    <!-- ====================================================================== -->
    <servlet>
        <servlet-name>JackrabbitRepositoryServlet</servlet-name>
        <description>
            Servlet that makes a Jackrabbit repository available as a servlet context
            attribute. The repository is started during servlet initialization and
            shut down when the servlet is destroyed.
        </description>
        <servlet-class>org.apache.jackrabbit.servlet.jackrabbit.JackrabbitRepositoryServlet</servlet-class>
        <init-param>
            <param-name>repository.home</param-name>
            <param-value>webapps/jackrabbit-jcr-demo/jackrabbit</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!-- ====================================================================== -->
    <!--                     I N I T		S E R V L E T                       -->
    <!-- ====================================================================== -->
    <servlet>
    	<servlet-name>InitServlet</servlet-name>
        <description>
            The init servlet registers namespace and custom nodetypes used in jackrabbit-jcr-demo.
        </description>  
        <servlet-class>org.apache.jackrabbit.demo.blog.servlet.InitServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
        <init-param>
         <param-name>cnd.path</param-name>
         <param-value>/conf/jcr-demo.cnd</param-value>
         <description> Path of the CND file which defines the custom node types used in jackrabbit-jcr-demo</description>
      </init-param>
      <init-param>
         <param-name>ocm.path</param-name>
         <param-value>/conf/ocm.xml</param-value>
         <description> Path of the XML file which defines the custom node types for jcr-mapping</description>
      </init-param>
      <init-param>
         <param-name>constants.ocm.mapping_xml</param-name>
         <param-value>/conf/mapping.xml</param-value>
         <description> Path of the XML file which defines class descriptors for the node bean mapping</description>
      </init-param>
      <init-param>
         <param-name>constants.mail.mail_server</param-name>
         <param-value>cssdse.mrt.ac.lk</param-value>
         <description>name or the ip address of the mail server used to send comment alert nortifications</description>
      </init-param>
      <init-param>
         <param-name>constants.mail.from_email</param-name>
         <param-value>nandana.cse@gmail.com</param-value>
         <description>From address of the emails sent as comment alert nortifications</description>
      </init-param>
    </servlet>
   
    <!-- ====================================================================== -->
    <!--            U S E R    C O N T R O L L E R	 S E R V L E T              -->
    <!-- ====================================================================== -->
   <servlet>
      <servlet-name>UserController</servlet-name>
      <description>User controller handles the user management taks</description> 
      <servlet-class>org.apache.jackrabbit.demo.blog.servlet.UserControllerServlet</servlet-class>
   </servlet>
   
    <!-- ====================================================================== -->
    <!--                    L O G I N	  S E R V L E T                         -->
    <!-- ====================================================================== --> 
   <servlet>
    <servlet-name>LoginController</servlet-name>
   	<description> This servlet is used to handle user log in </description>
   	<servlet-class>org.apache.jackrabbit.demo.blog.servlet.LoginControllerServlet</servlet-class>
   </servlet>
   
    <!-- ====================================================================== -->
    <!--                    L O G O U T	  S E R V L E T                         -->
    <!-- ====================================================================== --> 
   <servlet>
    <servlet-name>LogoutController</servlet-name>
   	<description> This servlet is used to handle user log out</description>
   	<servlet-class>org.apache.jackrabbit.demo.blog.servlet.LogoutControllerServlet</servlet-class>
   </servlet>
   
    <!-- ====================================================================== -->
    <!--         B L O G    C O N T R O L L E R		  S E R V L E T             -->
    <!-- ====================================================================== --> 
   
   <servlet>
   	<description> Handles adding multipart encoded blog entries </description>
   	<display-name>BlogAddControllerServlet</display-name>
   	<servlet-name>BlogAddControllerServlet</servlet-name>
   	<servlet-class>
   	org.apache.jackrabbit.demo.blog.servlet.BlogAddControllerServlet</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	Servlet that exposes the images in the repository to web applictions</description>
   	<display-name>
   	BinaryContentViewerServlet</display-name>
   	<servlet-name>BinaryContentViewerServlet</servlet-name>
   	<servlet-class>org.apache.jackrabbit.demo.blog.servlet.BinaryContentViewerServlet</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>BlogViewControllerServlet</display-name>
   	<servlet-name>BlogViewControllerServlet</servlet-name>
   	<servlet-class>org.apache.jackrabbit.demo.blog.servlet.BlogViewControllerServlet</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>BlogSearchControllerServlet</display-name>
   	<servlet-name>BlogSearchControllerServlet</servlet-name>
   	<servlet-class>org.apache.jackrabbit.demo.blog.servlet.BlogSearchControllerServlet</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>BlogCommentControllerServlet</display-name>
   	<servlet-name>BlogCommentControllerServlet</servlet-name>
   	<servlet-class>org.apache.jackrabbit.demo.blog.servlet.BlogCommentControllerServlet</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>BlogRemoveControllerServlet</display-name>
   	<servlet-name>BlogRemoveControllerServlet</servlet-name>
   	<servlet-class>org.apache.jackrabbit.demo.blog.servlet.BlogRemoveControllerServlet</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>
   	BlogRateControllerServlet</display-name>
   	<servlet-name>BlogRateControllerServlet</servlet-name>
   	<servlet-class>
   	org.apache.jackrabbit.demo.blog.servlet.BlogRateControllerServlet</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>AtomGeneratorServlet</display-name>
   	<servlet-name>AtomGeneratorServlet</servlet-name>
   	<servlet-class>
   	org.apache.jackrabbit.demo.blog.servlet.AtomGeneratorServlet</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>
   	UserAddControllerServlet</display-name>
   	<servlet-name>UserAddControllerServlet</servlet-name>
   	<servlet-class>
   	org.apache.jackrabbit.demo.blog.servlet.UserAddControllerServlet</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>
   	UserViewControllerServlet</display-name>
   	<servlet-name>UserViewControllerServlet</servlet-name>
   	<servlet-class>
   	org.apache.jackrabbit.demo.blog.servlet.UserViewControllerServlet</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>
   	WikiViewControllerServlet</display-name>
   	<servlet-name>WikiViewControllerServlet</servlet-name>
   	<servlet-class>
   	org.apache.jackrabbit.demo.blog.servlet.WikiViewControllerServlet</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>
   	WikiEditControllerServlet</display-name>
   	<servlet-name>WikiEditControllerServlet</servlet-name>
   	<servlet-class>
   	org.apache.jackrabbit.demo.blog.servlet.WikiEditControllerServlet</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>
   	WikiSaveControllerServlet</display-name>
   	<servlet-name>WikiSaveControllerServlet</servlet-name>
   	<servlet-class>
   	org.apache.jackrabbit.demo.blog.servlet.WikiSaveControllerServlet</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>
   	WikiChangesControllerServlet</display-name>
   	<servlet-name>WikiChangesControllerServlet</servlet-name>
   	<servlet-class>
   	org.apache.jackrabbit.demo.blog.servlet.WikiChangesControllerServlet</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>
   	BlogEntryViewController</display-name>
   	<servlet-name>BlogEntryViewController</servlet-name>
   	<servlet-class>
   	org.apache.jackrabbit.demo.blog.servlet.BlogEntryViewController</servlet-class>
   </servlet>
    
    <!-- ====================================================================== -->
    <!--    S E R V L E T    M A P P I N G    U S E R    M A N A G E M E N T    -->
    <!-- ====================================================================== -->
    <servlet-mapping>
    	<servlet-name>UserAddControllerServlet</servlet-name>
    	<url-pattern>/user/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
   		<servlet-name>LoginController</servlet-name>
   		<url-pattern>/user/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
   		<servlet-name>LogoutController</servlet-name>
   		<url-pattern>/user/logout</url-pattern>
   	</servlet-mapping>
    <servlet-mapping>
    	<servlet-name>UserViewControllerServlet</servlet-name>
    	<url-pattern>/user/view</url-pattern>
    </servlet-mapping>

    <!-- ====================================================================== -->
    <!--    S E R V L E T    M A P P I N G    B L O G    M A N A G E M E N T    -->
    <!-- ====================================================================== -->
   <servlet-mapping>
   	<servlet-name>BlogAddControllerServlet</servlet-name>
   	<url-pattern>/blog/add</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   <servlet-name>BlogViewControllerServlet</servlet-name>
    <url-pattern>/blog/view</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
    <servlet-name>BlogEntryViewController</servlet-name>
    <url-pattern>/blog/viewEntry</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
    <servlet-name>BlogSearchControllerServlet</servlet-name>
    <url-pattern>/blog/search</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
    <servlet-name>BlogCommentControllerServlet</servlet-name>
    <url-pattern>/blog/comment</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
    <servlet-name>BlogRemoveControllerServlet</servlet-name>
    <url-pattern>/blog/remove</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
    <servlet-name>BlogRateControllerServlet</servlet-name>
    <url-pattern>/blog/rate</url-pattern>
   </servlet-mapping>
    
    <!-- ====================================================================== -->
    <!--            S E R V L E T    M A P P I N G    W I K I                   -->
    <!-- ====================================================================== -->
    <servlet-mapping>
    <servlet-name>WikiViewControllerServlet</servlet-name>
    	<url-pattern>/wiki/view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>WikiEditControllerServlet</servlet-name>
    	<url-pattern>/wiki/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>WikiSaveControllerServlet</servlet-name>
    	<url-pattern>/wiki/save</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>WikiChangesControllerServlet</servlet-name>
    	<url-pattern>/wiki/history</url-pattern>
    </servlet-mapping>
 
    <!-- ====================================================================== -->
    <!--     S E R V L E T    M A P P I N G    B I N A R Y    C O N T E N T     -->
    <!-- ====================================================================== -->
   <servlet-mapping>
   	<servlet-name>BinaryContentViewerServlet</servlet-name>
   	<url-pattern>/repo/*</url-pattern>
   </servlet-mapping>
   
    <!-- ====================================================================== -->
    <!--   S E R V L E T    M A P P I N G    A T O M    S Y N D I C A T I O N   -->
    <!-- ====================================================================== -->
    <servlet-mapping>
    	<servlet-name>AtomGeneratorServlet</servlet-name>
    	<url-pattern>/blog/atom/*</url-pattern>
    </servlet-mapping>

    <!-- ====================================================================== -->
    <!--                          TAG LIB DECLARATIONS                          -->
    <!-- ====================================================================== -->
    
    <taglib>
    	<taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
    	<taglib-location>/WEB-INF/tld/c.tld</taglib-location>
    </taglib>
    
    <taglib>
    	<taglib-uri>http://java.sun.com/jsp/jstl/fmt</taglib-uri>
    	<taglib-location>/WEB-INF/tld/fmt.tld</taglib-location>
    </taglib>

    <!-- ====================================================================== -->
    <!--                    W E L C O M E   F I L E S                           -->
    <!-- ====================================================================== -->
    <welcome-file-list>
      <welcome-file>/blog/index.jsp</welcome-file>
    </welcome-file-list>

</web-app>
